@use "scss/fonts";
@use "scss/variables" as v;
@use "scss/classes";
@use "scss/keyframes";

@use "scss/general";
@use "scss/main";
@use "scss/wm";
@use "scss/aside";

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 82.44px;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.25);
  z-index: -1;
}
