.is-debugging {
  outline: 1px solid red;
}

// ################################################################################
// Layout #########################################################################
// ################################################################################

// General ########################################################################
.is-parent {
  position: relative;
}

// Flex ###########################################################################
.is-flex {
  display: flex;
}

.c-c {
  justify-content: center;
  align-items: center;
}

.fs-c {
  justify-content: flex-start;
  align-items: center;
}

.se-c {
  justify-content: space-evenly;
  align-items: center;
}

// Grid ###########################################################################
.is-grid {
  display: grid;
}

// ################################################################################
// Mask ###########################################################################
// ################################################################################
.is-masked {
  overflow: hidden;
}
.scroll-x {
  overflow-x: auto;
}
.no-scroll-x {
  overflow-x: hidden;
}
.no-scroll-y {
  overflow-y: hidden;
}
.no-interaction {
  pointer-events: none;
}

// ################################################################################
// User ###########################################################################
// ################################################################################
.no-select {
  user-select: none;
}
