@keyframes main-slide-in {
  0% {
    translate: 0 50%;
  }
  100% {
    translate: 0 -100%;
  }
}

@keyframes wm_match-pulse {
  0% {
    scale: 1;
    rotate: -360deg;
    opacity: 1;
  }
  50% {
    scale: 1.5;
    opacity: 0.75;
  }
  100% {
    scale: 1;
    rotate: 0;
    opacity: 1;
  }
}

@keyframes wm_match-shake {
  0% {
    translate: 0;
  }
  14.3% {
    translate: -25%;
  }
  28.6% {
    translate: 25%;
  }
  42.9% {
    translate: -12.5%;
  }
  57.2% {
    translate: 12.5%;
  }
  71.5% {
    translate: -5%;
  }
  85.8% {
    translate: 5%;
  }
  100% {
    translate: 0;
  }
}

@keyframes wm_match-rotate {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes p-prompter {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    opacity: 1;
    transform: translateX(0);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
