@use "variables" as v;

main {
  // gap: 0.5rem;
  &::before {
    content: attr(data-title-before);
    position: absolute;
    padding: 0 0 0.75rem 0.75rem;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    animation: main-slide-out-before 2s cubic-bezier(0.89, 0.58, 0.57, 1);

    translate: 0 -100%;
    z-index: -1;
  }
  &::after {
    content: attr(data-title-after);
    position: absolute;
    top: 0;
    right: v.$aside-width;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;

    padding-left: 3.25rem;

    font-size: 4rem;
    width: min-content;
    color: #000;

    display: block;

    z-index: -1;
  }
  &::after {
    translate: 100% 100%;
    scale: 1 2.25;
    transition: translate 0.25s cubic-bezier(0.89, 0.58, 0.57, 1),
      scale 0.125s ease-in;
  }
  &.out::after {
    translate: 100% -100%;
    scale: 1 1;
    transition: translate 0.375s cubic-bezier(0.89, 0.58, 0.57, 1),
      scale 0.5s ease-in-out;
  }
}

.container {
  margin: 0 auto;
  width: clamp(#{v.$app-width-min}, 100%, #{v.$app-width-max});
  height: v.$app-height;
  aspect-ratio: v.$app-aspect-ratio;

  background-color: darken(v.$bg-color, 5);
  outline: v.$border;
  border-radius: v.$border-radius;

  ::-webkit-scrollbar {
    display: none;
  }
  .ready::-webkit-scrollbar {
    display: block;
  }

  &.min {
    border-radius: v.$border-radius 0 0 v.$border-radius;
  }

  z-index: 2;
}

#app {
  width: 100%;
  height: 100%;
  container-type: size;
  padding-bottom: 1.25rem;
  background-color: darken($color: v.$bg-color, $amount: 2);

  @container (min-width: 5280px) {
    .wm_match[data-occurrences]::before {
      top: 53.5%;
      left: 50%;
      color: #eeeeee;
      line-height: 100%;
      font-size: 67.5%;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      translate: -50% -50%;
      opacity: 1;
    }
  }
}

.wm_modal {
  position: fixed;
  top: calc(
    (#{v.$app-height} - 810px) / 2
  ); // no translate allowed to not mess up the drag event
  right: 1rem;
  width: v.$aside-width;
  height: 810px;

  background-color: #fff;
  border-radius: v.$border-radius;
  outline: v.$border;

  transition: box-shadow 0.5s ease-in;

  z-index: 1000;

  // when dragged
  &:active {
    transition: box-shadow 0.125s ease-in-out;
  }

  h2 {
    position: relative;
    width: 100%;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.5rem;
    font-family: "Montserrat", sans-serif;
    color: #000;

    &::before,
    &::after {
      position: absolute;
      translate: 0 -50%;
      right: 2rem;
      font-size: 55%;
    }
    &::after {
      content: "Please select data";
      top: 50%;
      left: 62%;
      white-space: nowrap;
      animation: wm-modal-after 3s linear infinite forwards;
    }

    &.on::before {
      content: attr(data-date);
      top: calc(50% - 0.75rem);
    }
    &.on::after {
      animation: none;
      white-space: normal;
      translate: 0 -50%;
      left: unset;
      right: 2rem;
      font-size: 55%;

      content: attr(data-matches) " Match(es)";
      top: calc(50% + 0.75rem);
    }
  }

  .content {
    position: relative;
    width: 100%;
    height: calc(100% - 3rem - 2.5rem);
    grid-template-rows: repeat(8, 1fr); // max 8 matches a day

    max-height: 100%;
    overflow-y: auto; // you can only scroll on Firefox
  }

  .wm_modal_match {
    width: 100%;
    height: calc(100% / 8);
    padding: 0.5rem 2rem 0.5rem 2rem;

    font-family: "Roboto Condensed", sans-serif;

    &:nth-child(even) {
      background-color: #fafafa;
    }
    &:nth-child(odd) {
      background-color: #fff;
    }

    justify-content: space-between;
    align-items: stretch;

    .col-1 {
      flex-direction: column;
      justify-content: space-between;

      .team-home::before,
      .team-away::before {
        content: attr(data-label);
        padding-right: 0.375rem;
        font-size: 0.675rem;
      }
      .team-home::before,
      .team-away::after {
        line-height: 1.5rem;
      }
      .team-home,
      .team-away {
        font-size: 1.25rem;
        line-height: 1.25rem;
        color: #000;
      }
      .stage {
        font-size: 0.875rem;
        font-style: italic;
        color: #000;
      }
    }
    .col-2 {
      flex: 1 1 0;
      flex-direction: column;
      justify-content: space-between;
      .score,
      .attendance {
        width: 100%;
        text-align: right;
      }
      .score {
        font-weight: bold;
        font-size: 1.45rem;
      }
      .attendance {
        &::before {
          content: " Attendance: ";
          padding-left: 0.25rem;
          font-size: 0.875rem;
        }
        font-size: 0.875rem;
      }
    }
  }
}
