@use "variables" as v;

main {
  // gap: 0.5rem;
  &::before {
    content: attr(data-title-before);
    position: absolute;
    padding: 0 0 0.75rem 0.75rem;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    animation: main-slide-out-before 2s cubic-bezier(0.89, 0.58, 0.57, 1);

    translate: 0 -100%;
    z-index: -1;
  }
  &::after {
    content: attr(data-title-after);
    position: absolute;
    top: 0;
    right: v.$aside-width;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;

    padding-left: 3.25rem;

    font-size: 4rem;
    width: min-content;
    color: #000;

    display: block;

    z-index: -1;
  }
  &::after {
    translate: 100% 100%;
    scale: 1 2.25;
    transition: translate 0.25s cubic-bezier(0.89, 0.58, 0.57, 1),
      scale 0.125s ease-in;
  }
  &.out::after {
    translate: 100% -100%;
    scale: 1 1;
    transition: translate 0.375s cubic-bezier(0.89, 0.58, 0.57, 1),
      scale 0.5s ease-in-out;
  }
}

.container {
  margin: 0 auto;
  width: clamp(#{v.$app-width-min}, 100%, #{v.$app-width-max});
  height: v.$app-height;
  aspect-ratio: v.$app-aspect-ratio;

  background-color: darken(v.$bg-color, 5);
  outline: v.$border;
  border-radius: v.$border-radius;

  ::-webkit-scrollbar {
    display: none;
  }
  .ready::-webkit-scrollbar {
    display: block;
  }

  &.min {
    border-radius: v.$border-radius 0 0 v.$border-radius;
  }

  z-index: 2;
}

#app {
  width: 100%;
  height: 100%;
  container-type: size;
  padding-bottom: 1.25rem;
  background-color: darken($color: v.$bg-color, $amount: 2);

  @container (min-width: 5280px) {
    .wm_match[data-occurrences]::before {
      top: 55%;
      color: #eeeeee;
      line-height: 100%;
      font-size: 67.5%;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      translate: -50% -50%;
      opacity: 1;
    }
  }
}
