@use "variables" as v;

.months {
  width: 100%;
}

.month {
  flex: 1;
  padding: 0.75rem;
  font-weight: 900;
  font-family: "Roboto Condensed", sans-serif;
  border-bottom: v.$border;
}

.month:not(:first-child),
.month_divider:not(:first-child) {
  border-left: v.$border;
}

.month_divider {
  flex: 1;
  padding: 0.75rem;
  height: 100%;
  opacity: 0.125;
}

/*
  Contributing to the fact that May, July, August, October, and December have 31 days
  Thus, they have 31 / 30 = 1.03333333 times the width of the other months
*/
.month:nth-child(1),
.month:nth-child(3),
.month:nth-child(4),
.month:nth-child(6),
.month:nth-child(8),
.month_divider:nth-child(1),
.month_divider:nth-child(3),
.month_divider:nth-child(4),
.month_divider:nth-child(6),
.month_divider:nth-child(8) {
  flex: 1.03333333;
}

.wms {
  height: calc(100% - #{v.$line-height} - #{v.$month-padding} * 2);
  flex-direction: column;
}

.wm {
  flex: 1;

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &.on {
    // background-color: rgba(80, 80, 222, 0.075) !important;
    // transition: background-color 0.75s cubic-bezier(0.5, 0.98, 0.14, 1.07);
  }

  &.on::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-color: rgba(80, 80, 222, 0.25) !important;
    transition: background-color 0.75s cubic-bezier(0.5, 0.98, 0.14, 1.07);
    // animation: wm-shimmer 2s infinite;
  }

  // Credits: https://codepen.io/JCLee/pen/dyPejGV
  /* &.on::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    transform: translateX(50%);
    background-color: rgba(80, 80, 222, 0.0375);
    background-image: linear-gradient(
      90deg,
      rgba(80, 80, 222, 0.0375) 0,
      rgba(80, 80, 222, 0.125) 20%,
      rgba(80, 80, 222, 0.33) 60%,
      rgba(80, 80, 222, 0.0375)
    );
    animation: wm-skeleton 2s infinite;
  } */

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.0025);
  }
}

.wm_match {
  position: absolute;
  border-radius: 0.1rem;
  border: none;
  background-color: #000000;

  width: 6px;
  height: 6px;

  transition: all 0.25s cubic-bezier(0.5, 0.98, 0.14, 1.07),
    scale 0.125s ease-out;
  z-index: 2;

  &:not(:focus):hover {
    background-color: indianred;
    box-shadow: 0 0 0 0.5rem rgba(205, 92, 92, 0.25);

    cursor: pointer;

    scale: 1.375;
    transition: scale 0.125s ease-out;
  }
  &:not(.inactive):focus {
    outline: none;
    background-color: indianred;
    border-radius: 0.1rem; // 50%;

    animation: wm_match-shake 0.675s cubic-bezier(0.5, 0.98, 0.14, 1.07);
    transition: all 0.25s cubic-bezier(0.5, 0.98, 0.14, 1.07);
    z-index: 3;
  }
  /* &:focus:hover {
    cursor: pointer;
  } */
  &:not(.inactive):focus::after,
  &:not(.inactive).selected::after {
    outline: none;
    display: block;
    animation: wm_match-pulse 1.25s infinite cubic-bezier(0.5, 0.98, 0.14, 1.07);
    animation-delay: 0.25s;
  }
  &:not(.inactive)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 3.5rem;
    height: 3.5rem;
    border-color: indianred;
    border-style: dashed;
    border-width: 2px;
    border-radius: 50%;
    background-color: rgba(205, 92, 92, 0.125);
    display: none;
    z-index: 2;
  }

  &.inactive {
    opacity: 0.25 !important;
    pointer-events: none !important;
  }
}

.filtered {
  border: none !important;
  background-color: #000000 !important;
  opacity: 0.075 !important;
  pointer-events: none !important;

  transition: background-color 0.55s cubic-bezier(0.5, 0.98, 0.14, 1.07);
}

.wm_match[data-occurrences] {
  &:not(.inactive)::before,
  &:not(.inactive).selected::before {
    content: attr(data-occurrences);
    position: absolute;
    display: block;
    top: -0.525rem;
    left: 50%;
    translate: -50% -50%;
    color: #000;
    font-size: 75%;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    line-height: 100%;
    opacity: 0;
  }
  &:not(.inactive):hover::before {
    color: indianred;
    font-weight: 700;
    opacity: 1;
  }
  /* &:focus:hover {
    cursor: pointer;
  } */
  &:not(.inactive):focus::before {
    color: indianred;
    font-weight: 700;
    opacity: 1;
    scale: 1.125;
  }
}

.wm_match__empty {
  position: absolute;
  border-radius: 0.1rem;
  border: none;
  background-color: #000000;

  opacity: 0.01;

  width: 6px;
  height: 6px;
}

#app.min > .wms .wm_match,
#app.min > .wms .wm_match__empty {
  width: 4px;
  height: 4px;
}
